@using System.Web;
@layout("Views/cshtml/layout.cshtml")
@if (req.url != "/user")
{
  <section class="webdesigntuts-workshop">
    <form action="/main" autocomplete="off" method="get" role="search">
      <label id="se_label" for="se_writer">
        <svg xmlns="http://www.w3.org/2000/svg" style="fill: white;align-self: center;" id="arrow-circle-down"
        viewBox="0 0 24 24" width="20" height="20">
          <g>
            <path
            d="M23,16H2.681l.014-.015L4.939,13.7a1,1,0,1,0-1.426-1.4L1.274,14.577c-.163.163-.391.413-.624.676a2.588,2.588,0,0,0,0,3.429c.233.262.461.512.618.67l2.245,2.284a1,1,0,0,0,1.426-1.4L2.744,18H23a1,1,0,0,0,0-2Z" />
            <path
            d="M1,8H21.255l-2.194,2.233a1,1,0,1,0,1.426,1.4l2.239-2.279c.163-.163.391-.413.624-.675a2.588,2.588,0,0,0,0-3.429c-.233-.263-.461-.513-.618-.67L20.487,2.3a1,1,0,0,0-1.426,1.4l2.251,2.29L21.32,6H1A1,1,0,0,0,1,8Z" />
          </g>
        </svg>
      </label>
      <input id="se_writer" name='@req.param.AllKeys.FirstOrDefault("se")' placeholder="글쓴이" type="text" value='@(req.param.Get("ti")+req.param.Get("se"))' />
      <button>
        <svg xmlns="http://www.w3.org/2000/svg" id="Outline" style="fill: white" viewBox="0 0 24 24" width="20"
        height="20">
          <path
          d="M23.707,22.293l-5.969-5.969a10.016,10.016,0,1,0-1.414,1.414l5.969,5.969a1,1,0,0,0,1.414-1.414ZM10,18a8,8,0,1,1,8-8A8.009,8.009,0,0,1,10,18Z" />
        </svg>
      </button>
    </form>
  </section>
  <div style="position:absolute;height: fit-content; width:100%;max-width:1680px; z-index:1; display: flex; justify-content: center;">
    <ul class="list" aria-disabled="true" style="display: none;">
      <li class="selected" id="li0" style="display:none;"></li>
      <li>list1</li>
      <li>list2</li>
      <li>list3</li>
      <li>list4</li>
      <li>list5</li>
      <li>list6</li>
      <li>list7</li>
      <li>list8</li>
      <li>list9</li>
      <li>list10</li>
      <li>list11</li>
      <li>list12</li>
      <li>list13</li>
      <li>list14</li>
      <li>list15</li>
    </ul>
  </div>
  <script src="/js/search.js" ></script>
}
else
{
  <h1 style="text-align: center;">@ViewData["title"]</h1>
}
<hr />
<div id="list_sec"></div>
<div id="content_bottom"></div>
<hr/>
<script type="text/javascript">
  const jdata = @ViewData["jdata"];
  const se_key = '@req.param.AllKeys.FirstOrDefault("")';
  const se_val = '@(HttpUtility.JavaScriptStringEncode(req.param.Get("ti")+req.param.Get("se")))';
</script>

<script>
  $(window).ready(function () {
    loadItem();
    function loadItem() {
      if ($(parent.document).find("iframe").length != 0) {
        alert("잘못된 접근입니다.");
        return;
      }
      const newNode = $("<div id='wait_div' style='min-height: 200px;'><h1 style='text-align: center;'>Wait!</h1></div>");
      $("#content_bottom").append(newNode);
      const pnum = $(".item_box").last().attr("id") || "p_2147483647";
      let qstr = "p=" + pnum.substr(2);
      if (jdata != undefined) {
        qstr += "&tar=" + encodeURIComponent(JSON.stringify(jdata));
      }
      else if (se_key.trim().length > 0) {
        qstr += "&"+se_key+"=" + encodeURIComponent(se_val);
      }
      $.post("/items?" + qstr, function (data) {
        newNode.remove();
        const item_boxs = $("<div>" + data + "</div>");
        if (item_boxs.find(".item_box").length == 0) {
          if (data.trim() == '') data = "";
          $("#content_bottom").append("<div id='wait_div'><h1 style='text-align: center;'>" + data + "</h1></div>");
        } else {
          $("#list_sec").append(item_boxs.html());
        }
      });
    }

    $(window).scroll(function () {
      if ((window.innerHeight + $(window).scrollTop()) + 300 >= document.body.offsetHeight) {
        if ($("#wait_div").length == 0) loadItem();
      }
    });
  });
</script>
